.formControl.error span {
  color: red;
}

.formControl.error input,
.formControl.error textarea {
  border: 2px solid red;
}

.formSomeError {
  color: red;
  padding: 5px;
  border: 2px solid red;
}
