.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  color: white;
}
.dialogsItems {
  padding: 10px;
}
.dialog a {
  color: white;
}

.dialog a.active {
  color: gold;
}

.messages {
  padding: 10px;
}

/* .message {
} */
